In [2]:
import pandas as pd

## 1. Obtenemos los datos

In [12]:
# import urllib2
# 
# filedata = urllib2.urlopen('https://covid.ourworldindata.org/data/full_data.csv')
# datatowrite = filedata.read()
#  
# with open('../datapipeline/raw/full_data.csv', 'wb') as f:
#     f.write(datatowrite)

## 2. Damos Formato

In [25]:
covid = pd.read_csv("https://covid.ourworldindata.org/data/full_data.csv")
covid.shape

(2553, 6)

In [26]:
covid.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2020-02-25  Afghanistan        NaN         NaN            1           NaN
1  2020-02-26  Afghanistan        0.0         NaN            1           NaN
2  2020-02-27  Afghanistan        0.0         NaN            1           NaN
3  2020-02-28  Afghanistan        0.0         NaN            1           NaN
4  2020-02-29  Afghanistan        0.0         NaN            1           NaN

In [27]:
#pasamos a mayus
covid.columns = codvid.columns.str.upper()

In [28]:
#parseamos la fecha
covid["DATE"] = pd.to_datetime(covid["DATE"])

In [39]:
#parseamos los nums
#covid.select_dtypes(include="float64").applymap(lambda x: x.astype('Int32') )

In [38]:
#verificamos los tipos
covid.dtypes

DATE            datetime64[ns]
LOCATION                object
NEW_CASES              float64
NEW_DEATHS             float64
TOTAL_CASES              int64
TOTAL_DEATHS           float64
dtype: object

In [30]:
covid

           DATE     LOCATION  NEW_CASES  NEW_DEATHS  TOTAL_CASES  TOTAL_DEATHS
0    2020-02-25  Afghanistan        NaN         NaN            1           NaN
1    2020-02-26  Afghanistan        0.0         NaN            1           NaN
2    2020-02-27  Afghanistan        0.0         NaN            1           NaN
3    2020-02-28  Afghanistan        0.0         NaN            1           NaN
4    2020-02-29  Afghanistan        0.0         NaN            1           NaN
...         ...          ...        ...         ...          ...           ...
2548 2020-03-11        World     4611.0       275.0       118319        4292.0
2549 2020-03-12        World     6936.0       317.0       125260        4613.0
2550 2020-03-13        World     7488.0       338.0       132758        4956.0
2551 2020-03-14        World     9766.0       434.0       142539        5393.0
2552 2020-03-15        World    10968.0       343.0       153523        5736.0

[2553 rows x 6 columns]